{% extends 'base.html' %}

{% block title %}[djrepec] archive list{% endblock title %}
{% block body %}

    <h2>Archives!</h2>
    <ul>
    {% for archive in objects.all %}
        <li><a href="{% url 'archive.index' archive.handle %}">{{ archive.name }}</a> [{{ archive.handle }}]</li>
    {% empty %}
        <li>no archives</li>
    {% endfor %}
    </ul>

{% endblock body %}