{% extends 'base.html' %}

{% block title %}[djrepec] archive detail{% endblock title %}
{% block body %}

    <h2>Archive "{{ archive.name }}" [{{ archive.handle }}]</h2>

    <h3>RDF</h3>
    [ archive: <a href="{% url 'archive.rdf' archive.handle archive.handle %}">{{ archive.handle }}arch.rdf</a> ]
    [ series: <a href="{% url 'series.rdf' archive.handle archive.handle %}">{{ archive.handle }}seri.rdf</a> ]

    <h3>Series</h3>
    <ul>
    {% for series in archive.series.iterator %}
        <li><a href="{% url 'series.index' archive.handle series.handle %}">{{ series.handle }}</a></li>
    {% endfor %}
    </ul>

{% endblock body %}