{% extends 'base.html' %}

{% block title %}[djrepec] archive list{% endblock title %}
{% block body %}

    <h2><a href="{% url 'archive.index' series.archive.handle %}">Archive "{{ series.archive.handle }}"</a></h2>

    <h3>Series: {{ series.name }} [{{ series.handle }}]</h3>

    <table>
    <thead>
        <tr>
            <th>number</th>
            <th>title</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>
    {% for paper in series.papers.iterator %}
        <tr>
            <td>
                <a href="{% url 'paper.rdf' series.archive.handle series.handle paper.number %}">{{ paper.number }}.rdf</a>
            </td>
            <td>{{ paper.title|truncatechars:96 }}</td>
            <td>{{ paper.creation_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock body %}